
/* Error */

.error h1{
    top: 30%;
    left: 37%;
    text-align: center;
    margin: auto;
    position: absolute;
    color: red;
    font-weight: bold;
}

/* End bye */

/* First Navbar */

.first-nav{
    border-radius: 5px;
    width: 100%;
}
.avatar{
    cursor: pointer;
}

.left-icons{
    width: 100%;
    margin-left: 57%;
}

.left-icons i{
    font-size: 24px;
    margin-top: 6%;
    /* padding-left: 7%; */
    cursor: pointer;
}

/* End of First Navbar */

/* Second Navbar */

.chat-head{
    /* color: #e9edef; */
    font-size: 16px;
}

.info .chat-info{
    color: #8696A0;
    margin-top: -5%;
}

.chat-info{
    font-size: 13px;
    font-weight: 100;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.options i{
    font-size: 24px;
    margin-top: -17%;
    cursor: pointer;
}

/* End of Second Navbar */

/* Search */

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.input-field {
    width: 90%;
    text-align: center;
    border-radius: 8px !important;
}

/* End of Search */



































